<a href="https://colab.research.google.com/github/ssonjaaaa/DATA-CRAWLING/blob/main/Cleaningdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as UKT_csv

In [3]:
df = pd.read_csv('/content/UKT.csv')
df.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1795504263797375052,Tue May 28 17:15:50 +0000 2024,20773,Gara-gara kasus akhir-akhir ini kayak Bea Cuka...,1795504263797375052,https://pbs.twimg.com/media/GOri-WlbgAA6fB6.jpg,NaN,in,"Jakarta Pusat, DKI Jakarta",829,310,6192,https://x.com/ghozyulhaq/status/17955042637973...,76652780,ghozyulhaq
1,1666763250627928067,Thu Jun 08 11:05:00 +0000 2023,14975,‚Äç tipe tipe reaksi anak pns ketika penetapan u...,1666763250627928067,https://pbs.twimg.com/media/FyGHVIbaQAEWhqF.jpg,NaN,in,RULES üëâ,600,468,823,https://x.com/sbmptnfess/status/16667632506279...,1205629250423779328,sbmptnfess
2,1787084005361541564,Sun May 05 11:36:43 +0000 2024,5950,Merekrut-melatih guru2 dgn followers tiktok &a...,1787084005361541564,https://pbs.twimg.com/ext_tw_video_thumb/17870...,NaN,in,NaN,368,376,2155,https://x.com/zanatul_91/status/17870840053615...,88120377,zanatul_91
3,1573137677876359169,Fri Sep 23 02:30:24 +0000 2022,4924,Ameh bayar ukt mas https://t.co/LKFTaoHxzC,1573137677876359169,https://pbs.twimg.com/ext_tw_video_thumb/15731...,NaN,in,Yogyakarta,397,247,1730,https://x.com/helmihelmi/status/15731376778763...,46063108,helmihelmi
4,1666647486340161537,Thu Jun 08 03:25:00 +0000 2023,16063,‚Äç temen sender ngeluh anak pns dapet ukt terti...,1666647486340161537,https://pbs.twimg.com/media/FyEeGSJagAAgyQp.jpg,NaN,in,RULES üëâ,1013,980,694,https://x.com/sbmptnfess/status/16666474863401...,1205629250423779328,sbmptnfess

In [4]:
# prompt: cleaningkan data saya

# Check for missing values
print(df.isnull().sum())

# Handle missing values (replace with mean, median, or remove rows/columns)
# Example: Replace missing values in 'column_name' with the mean
# df['column_name'].fillna(df['column_name'].mean(), inplace=True)

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Convert data types if needed
# Example: Convert 'column_name' to numeric
# df['column_name'] = pd.to_numeric(df['column_name'])

# Remove irrelevant columns
# df.drop(['column_name1', 'column_name2'], axis=1, inplace=True)

# Check for outliers (using box plots, z-scores, etc.)
# Example: Remove outliers in 'column_name' using z-scores
# from scipy import stats
# z = np.abs(stats.zscore(df['column_name']))
# df = df[(z < 3)]

# You can add more cleaning steps based on your specific needs.
# For example, you might want to normalize or standardize your data,
# or you might want to handle inconsistent data entries.

# Print the cleaned dataframe
print(df.head())

conversation_id_str          0
created_at                   0
favorite_count               0
full_text                    0
id_str                       0
image_url                  180
in_reply_to_screen_name    175
lang                         0
location                    86
quote_count                  0
reply_count                  0
retweet_count                0
tweet_url                    0
user_id_str                  0
username                     0
dtype: int64
   conversation_id_str                      created_at  favorite_count  \
0  1795504263797375052  Tue May 28 17:15:50 +0000 2024           20773
1  1666763250627928067  Thu Jun 08 11:05:00 +0000 2023           14975
2  1787084005361541564  Sun May 05 11:36:43 +0000 2024            5950
3  1573137677876359169  Fri Sep 23 02:30:24 +0000 2022            4924
4  1666647486340161537  Thu Jun 08 03:25:00 +0000 2023           16063

                                           full_text               id_str  \
0  Gara-gara kasus akhir-akhir ini kayak Bea Cuka...  1795504263797375052
1  ‚Äç tipe tipe reaksi anak pns ketika penetapan u...  1666763250627928067
2  Merekrut-melatih guru2 dgn followers tiktok &a...  1787084005361541564
3         Ameh bayar ukt mas https://t.co/LKFTaoHxzC  1573137677876359169
4  ‚Äç temen sender ngeluh anak pns dapet ukt terti...  1666647486340161537

                                           image_url in_reply_to_screen_name  \
0    https://pbs.twimg.com/media/GOri-WlbgAA6fB6.jpg                     NaN
1    https://pbs.twimg.com/media/FyGHVIbaQAEWhqF.jpg                     NaN
2  https://pbs.twimg.com/ext_tw_video_thumb/17870...                     NaN
3  https://pbs.twimg.com/ext_tw_video_thumb/15731...                     NaN
4    https://pbs.twimg.com/media/FyEeGSJagAAgyQp.jpg                     NaN

  lang                    location  quote_count  reply_count  retweet_count  \
0   in  Jakarta Pusat, DKI Jakarta          829          310           6192
1   in                     RULES üëâ          600          468            823
2   in                         NaN          368          376           2155
3   in                  Yogyakarta          397          247           1730
4   in                     RULES üëâ         1013          980            694

                                           tweet_url          user_id_str  \
0  https://x.com/ghozyulhaq/status/17955042637973...             76652780
1  https://x.com/sbmptnfess/status/16667632506279...  1205629250423779328
2  https://x.com/zanatul_91/status/17870840053615...             88120377
3  https://x.com/helmihelmi/status/15731376778763...             46063108
4  https://x.com/sbmptnfess/status/16666474863401...  1205629250423779328

     username
0  ghozyulhaq
1  sbmptnfess
2  zanatul_91
3  helmihelmi
4  sbmptnfess

In [5]:
# prompt: data duplicat

# Find duplicate rows based on all columns
duplicate_rows = df[df.duplicated()]

# Print the duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

# Remove duplicate rows (keeping the first occurrence)
df.drop_duplicates(inplace=True)

# Print the DataFrame after removing duplicates
print("\nDataFrame after removing duplicates:")
print(df.head())

Duplicate Rows:
Empty DataFrame
Columns: [conversation_id_str, created_at, favorite_count, full_text, id_str, image_url, in_reply_to_screen_name, lang, location, quote_count, reply_count, retweet_count, tweet_url, user_id_str, username]
Index: []

DataFrame after removing duplicates:
   conversation_id_str                      created_at  favorite_count  \
0  1795504263797375052  Tue May 28 17:15:50 +0000 2024           20773
1  1666763250627928067  Thu Jun 08 11:05:00 +0000 2023           14975
2  1787084005361541564  Sun May 05 11:36:43 +0000 2024            5950
3  1573137677876359169  Fri Sep 23 02:30:24 +0000 2022            4924
4  1666647486340161537  Thu Jun 08 03:25:00 +0000 2023           16063

                                           full_text               id_str  \
0  Gara-gara kasus akhir-akhir ini kayak Bea Cuka...  1795504263797375052
1  ‚Äç tipe tipe reaksi anak pns ketika penetapan u...  1666763250627928067
2  Merekrut-melatih guru2 dgn followers tiktok &a...  1787084005361541564
3         Ameh bayar ukt mas https://t.co/LKFTaoHxzC  1573137677876359169
4  ‚Äç temen sender ngeluh anak pns dapet ukt terti...  1666647486340161537

                                           image_url in_reply_to_screen_name  \
0    https://pbs.twimg.com/media/GOri-WlbgAA6fB6.jpg                     NaN
1    https://pbs.twimg.com/media/FyGHVIbaQAEWhqF.jpg                     NaN
2  https://pbs.twimg.com/ext_tw_video_thumb/17870...                     NaN
3  https://pbs.twimg.com/ext_tw_video_thumb/15731...                     NaN
4    https://pbs.twimg.com/media/FyEeGSJagAAgyQp.jpg                     NaN

  lang                    location  quote_count  reply_count  retweet_count  \
0   in  Jakarta Pusat, DKI Jakarta          829          310           6192
1   in                     RULES üëâ          600          468            823
2   in                         NaN          368          376           2155
3   in                  Yogyakarta          397          247           1730
4   in                     RULES üëâ         1013          980            694

                                           tweet_url          user_id_str  \
0  https://x.com/ghozyulhaq/status/17955042637973...             76652780
1  https://x.com/sbmptnfess/status/16667632506279...  1205629250423779328
2  https://x.com/zanatul_91/status/17870840053615...             88120377
3  https://x.com/helmihelmi/status/15731376778763...             46063108
4  https://x.com/sbmptnfess/status/16666474863401...  1205629250423779328

     username
0  ghozyulhaq
1  sbmptnfess
2  zanatul_91
3  helmihelmi
4  sbmptnfess

In [6]:
# prompt: data missing values

# Check for missing values in each column
missing_values = df.isnull().sum()

# Print the number of missing values for each column
print("Missing Values per Column:")
print(missing_values)

# Calculate the percentage of missing values for each column
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Print the percentage of missing values for each column
print("\nPercentage of Missing Values per Column:")
print(missing_percentage)

Missing Values per Column:
conversation_id_str          0
created_at                   0
favorite_count               0
full_text                    0
id_str                       0
image_url                  180
in_reply_to_screen_name    175
lang                         0
location                    86
quote_count                  0
reply_count                  0
retweet_count                0
tweet_url                    0
user_id_str                  0
username                     0
dtype: int64

Percentage of Missing Values per Column:
conversation_id_str         0.000000
created_at                  0.000000
favorite_count              0.000000
full_text                   0.000000
id_str                      0.000000
image_url                  75.313808
in_reply_to_screen_name    73.221757
lang                        0.000000
location                   35.983264
quote_count                 0.000000
reply_count                 0.000000
retweet_count               0.000000
tweet_url                   0.000000
user_id_str                 0.000000
username                    0.000000
dtype: float64

In [10]:
# prompt: hapus kolom missing value

# Remove columns with any missing values
df.dropna(axis=1, inplace=True)

# Print the DataFrame after removing columns with missing values
print("\nDataFrame after removing columns with missing values:")
print(df.head())

DataFrame after removing columns with missing values:
   conversation_id_str                      created_at  favorite_count  \
0  1795504263797375052  Tue May 28 17:15:50 +0000 2024           20773
1  1666763250627928067  Thu Jun 08 11:05:00 +0000 2023           14975
2  1787084005361541564  Sun May 05 11:36:43 +0000 2024            5950
3  1573137677876359169  Fri Sep 23 02:30:24 +0000 2022            4924
4  1666647486340161537  Thu Jun 08 03:25:00 +0000 2023           16063

                                           full_text               id_str  \
0  Gara-gara kasus akhir-akhir ini kayak Bea Cuka...  1795504263797375052
1  ‚Äç tipe tipe reaksi anak pns ketika penetapan u...  1666763250627928067
2  Merekrut-melatih guru2 dgn followers tiktok &a...  1787084005361541564
3         Ameh bayar ukt mas https://t.co/LKFTaoHxzC  1573137677876359169
4  ‚Äç temen sender ngeluh anak pns dapet ukt terti...  1666647486340161537

  lang  quote_count  reply_count  retweet_count  \
0   in          829          310           6192
1   in          600          468            823
2   in          368          376           2155
3   in          397          247           1730
4   in         1013          980            694

                                           tweet_url          user_id_str  \
0  https://x.com/ghozyulhaq/status/17955042637973...             76652780
1  https://x.com/sbmptnfess/status/16667632506279...  1205629250423779328
2  https://x.com/zanatul_91/status/17870840053615...             88120377
3  https://x.com/helmihelmi/status/15731376778763...             46063108
4  https://x.com/sbmptnfess/status/16666474863401...  1205629250423779328

     username
0  ghozyulhaq
1  sbmptnfess
2  zanatul_91
3  helmihelmi
4  sbmptnfess

In [11]:
# prompt: tampilkan semua data yang sudah dicleaning

print(df)

     conversation_id_str                      created_at  favorite_count  \
0    1795504263797375052  Tue May 28 17:15:50 +0000 2024           20773
1    1666763250627928067  Thu Jun 08 11:05:00 +0000 2023           14975
2    1787084005361541564  Sun May 05 11:36:43 +0000 2024            5950
3    1573137677876359169  Fri Sep 23 02:30:24 +0000 2022            4924
4    1666647486340161537  Thu Jun 08 03:25:00 +0000 2023           16063
..                   ...                             ...             ...
234  1841028229785677859  Tue Oct 01 08:11:49 +0000 2024               1
235  1841856318933762073  Thu Oct 03 18:02:01 +0000 2024              93
236  1841274182463840713  Wed Oct 02 00:29:08 +0000 2024               2
237  1841856318933762073  Fri Oct 04 02:12:17 +0000 2024             716
238  1841022805090984313  Tue Oct 01 12:52:22 +0000 2024               3

                                             full_text               id_str  \
0    Gara-gara kasus akhir-akhir ini kayak Bea Cuka...  1795504263797375052
1    ‚Äç tipe tipe reaksi anak pns ketika penetapan u...  1666763250627928067
2    Merekrut-melatih guru2 dgn followers tiktok &a...  1787084005361541564
3           Ameh bayar ukt mas https://t.co/LKFTaoHxzC  1573137677876359169
4    ‚Äç temen sender ngeluh anak pns dapet ukt terti...  1666647486340161537
..                                                 ...                  ...
234  -dips! Guys kalian yang ikut pengembalian ukt ...  1841028229785677859
235  @AlditiyaNiko @folkshittmedia Kebanyakan judol...  1841901536269762614
236  the funny thing is gue ga peduli selagi gue ma...  1841274182463840713
237  @debbycheezz @folkshittmedia Keluarga dia kelu...  1842024913877823621
238  @tanyarlfes salim opsional nder gk ada jadwal ...  1841098831360111095

    lang  quote_count  reply_count  retweet_count  \
0     in          829          310           6192
1     in          600          468            823
2     in          368          376           2155
3     in          397          247           1730
4     in         1013          980            694
..   ...          ...          ...            ...
234   in            0            0              0
235   in            0            2              0
236   in            0            0              0
237   in            4           16             18
238   in            0            0              0

                                             tweet_url          user_id_str  \
0    https://x.com/ghozyulhaq/status/17955042637973...             76652780
1    https://x.com/sbmptnfess/status/16667632506279...  1205629250423779328
2    https://x.com/zanatul_91/status/17870840053615...             88120377
3    https://x.com/helmihelmi/status/15731376778763...             46063108
4    https://x.com/sbmptnfess/status/16666474863401...  1205629250423779328
..                                                 ...                  ...
234  https://x.com/undipmfs/status/1841028229785677859  1212593816630251520
235  https://x.com/Rudihabibie1717/status/184190153...  1682466749193805828
236  https://x.com/danhenmg/status/1841274182463840713  1347203613559451648
237  https://x.com/rchfx13004/status/18420249138778...  1784219696084221953
238  https://x.com/taevctry/status/1841098831360111095  1114433716019851264

            username
0         ghozyulhaq
1         sbmptnfess
2         zanatul_91
3         helmihelmi
4         sbmptnfess
..               ...
234         undipmfs
235  Rudihabibie1717
236         danhenmg
237       rchfx13004
238         taevctry

[239 rows x 12 columns]